@media only screen and (max-width: 767px) {
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pl-10 {
        padding-left: 0;
    }
    .ml-10 {
        margin-left: 0;
    }
    .section-title {
        span {
            font-size: 14px;
        }
        h2 {
            font-size: 25px;
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 4px 0 0 0;
                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 45px;
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 255px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
            }  
        }   
    } 
    .search-overlay {
        &.search-popup {
            right: -10px;
        }
    }
    .main-banner-item {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .main-banner-image {
        top: 0;
        text-align: center;
        margin-top: 30px;
    }
    .main-banner-content {
        text-align: center;
        margin: auto;
        h1 {
            font-size: 30px;
            margin-bottom: 16px;
            position: relative;
            z-index: 1;
        }
    }
    .about-image {
        text-align: center;
    }
    .about-content {
        margin-top: 30px;
        span {
            font-size: 14px;
        }
        h3 {
            font-size: 25px;
        }
        &.warp {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    .single-services {
        padding: 30px 20px;

        h3 {
            font-size: 19px;
            margin-bottom: 14px;
        }
        &::before {
            bottom: -94%;
            transform: rotate(-8deg);
        }
    }
    .digital-experience-tab {
        .react-tabs__tab-list {
            margin-bottom: 30px;
            li {
                margin-right: 0;
                flex: 50%;
                max-width: 50.666667%;
            }
        }
        .react-tabs__tab-panel {
            .digital-experience-content {
                h3 {
                    font-size: 25px;
                }
                .experience-inner-content {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
            .digital-experience-image {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .single-fun-fact {
        padding: 30px;
        text-align: center;
        .icon {
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 20px;

            i {
                height: 60px;
                width: 60px;
                line-height: 60px;
                font-size: 25px;
            }
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 15px;
        }
    }
    .single-portfolio {
        .portfolio-content {
            i {
                line-height: 35px;
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .testimonial-content {
        margin-top: 0;
        span {
            font-size: 14px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .testimonial-image {
        height: 500px;
    }
    .testimonial-inner-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 30px;
        padding-left: 0;
        .icon {
            margin-bottom: 20px;
            i {
                height: 60px;
                width: 60px;
                line-height: 60px;
                font-size: 30px;
            }
        }
    }
    .testimonial-slider {
        margin-top: 0;

        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*=owl-] {
                        left: 0;
        
                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .single-blog {
        .content {
            span {
                font-size: 14px;
            }
            h3 {
                font-size: 20px;
            }
            .blog-btn {
                font-size: 14px;
            }
        }
    }
    .pl-5, .px-5 {
        padding-left: 0 !important;
    }
    .single-footer-widget {
        h3 {
            font-size: 22px;
        }
    }
    .copyright-area-content {
        text-align: center;
    }
    .copyright-area {
        .copyright-area-content {
            ul {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
    .main-banner-item {
        &.item-two {
            height: 100%;

            .main-banner-image {
                img {
                    animation: unset;
                    animation: moveBounce 5s linear infinite;
                    border-radius: 0%;
                }
            }
        }
        &.item-three {
            height: 100%;

            .main-banner-image {
                img {
                    animation: unset;
                    animation: moveBounce 5s linear infinite;
                }
            }
        }
        &.item-four {
            height: 100%;
        }
    }
    .banner-form {
        button {
            position: relative;
            right: 0;
            top: 0;
            margin-top: 20px;
        }
    }
    .about-area {
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .about-image-warp {
        height: 500px;
        text-align: center;
    }
    .features-inner-content {
        span {
            font-size: 14px;
        }
        h3 {
            font-size: 25px;
        }
    }
    .features-image {
        margin-top: 30px;
        text-align: center;
    }
    .single-services-item {
        .content h3 {
            font-size: 22px;
        }
    }
    .single-portfolio-item {
        .portfolio-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .single-team {
        .image {
            .content {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
    .single-pricing-box {
        padding: 25px;
        &.top-1 {
            margin-top: 0;
        }
        &.top-2 {
            margin-top: 0;
        }
    }
    .main-slider-item {
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .main-slider-content {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        margin: auto;

        h1 {
            font-size: 30px;
        }
    }    
    .main-slider-image {
        height: 500px;
    }
    .main-slider-shape {
        .shape-1 {
            display: none;
        }
        .shape-2 {
            display: none;
        }
    }
    .single-services-box {
        padding: 25px 20px;

        h3 {
            font-size: 22px;
        }
        .icon {
            i {
                height: 100px;
                width: 100px;
                line-height: 100px;
                font-size: 30px;
            }
        }
        &::before {
            bottom: -95%;
        }
    }
    .single-fun-fact-box {
        padding: 25px 8px;
        .icon {
            margin-bottom: 20px;

            i {
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 13px;
        }
    }
    .client-slider {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: 0;
                    bottom: 18%;
                    top: auto;
                    transform: translateY(0%);
                    width: 30px;
                    height: 30px;
                    line-height: 30px;

                    i {
                        font-size: 12px;
                    }

                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*=owl-] {
                        left: 0;

                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .subscribe-content {
        span {
            font-size: 14px;
        }
        h2 {
            font-size: 22px;
        }
        .newsletter-form {
            button {
                position: relative;
                right: 0;
                top: 0;
                margin-top: 20px;
            }
        }
    }
    .partner-item {
        img {
            max-width: 90px;
        }
    }
    .main-banner-shape {
        .shape-14 {
            display: none;
        }
        .shape-10 {
            display: none;
        }
        .shape-9 {
            display: none;
        }
        .shape-12 {
            display: none;
        }
    }
    .quote-form {
        padding: 30px 20px;
        .content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .quote-image {
        text-align: center;
        margin-top: 30px;
    }
    .single-features-box {
        &.top-1 {
            margin-top: 0;
        }
        &.top-4 {
            margin-top: 0;
        }
    }
    .features-image-warp {
        margin-bottom: 30px;
        text-align: center;
    }
    .overview-content {
        span {
            font-size: 14px;
        }
        h3 {
            font-size: 22px;
        }
    }
    .overview-image {
        text-align: center;
        margin-top: 30px;
    }
    .page-banner-area {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .page-banner-content {
        h2 {
            font-size: 30px;
        }
    }
    .services-details-desc {
        h3 {
            font-size: 22px;
        }

        .services-details-features {
            .features-image {
                margin-top: 0;
                text-align: center;
                margin-bottom: 15px;
            }

            .features-list {
                margin-bottom: 0;
                li {
                    margin-bottom: 10px;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .text-result {
            h3 {
                font-size: 22px;
            }
        }
        .services-details-faq {
            .accordion {
                .accordion-title {
                    font-size: 16px;
                }
            }
        }
    }
    .services-details-information {
        margin-top: 30px;
    }
    .portfolio-details-desc {
        h3 {
            font-size: 22px;
        }
    }
    .portfolio-details-information {
        margin-top: 30px;
    }
    .blog-details-desc {
        .article-content {
            h3 {
                font-size: 22px;
            }
        }
        .article-footer {
            .article-tags {
                flex: unset;
                max-width: unset;
            }
            .article-share {
                flex: unset;
                max-width: unset;
                margin-top: 25px;
            }
        }
    }
    .widget-area {
        margin-top: 40px;
    }
    .contact-image {
        margin-bottom: 30px;
        text-align: center;
    }
    .general-contact-info {
        margin-top: 50px;
    }
    .login-form {
        padding: 30px 20px;

        h2 {
            font-size: 25px;
        }
        form {
            .lost-your-password {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
    .login-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .register-form {
        padding: 30px 20px;
        h2 {
            font-size: 25px;
        }
    }
    .register-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .error-content {
        h3 {
            font-size: 25px;
        }
    }
    .spix-grid-sorting {
        .ordering {
            text-align: center;
            margin-top: 20px;
        }
    }
    .single-products-box {
        .products-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .cart-table {
        table {
            tbody {
                tr {
                    td {
                        padding-left: 30px;
                    }
                }
            }
            thead {
                tr {
                    th {
                        padding: 0 40px 20px;
                    }
                }
            }
        }
    }
    .cart-buttons {
        text-align: center;

        .text-right {
            text-align: center !important;
            margin-top: 10px;
        }
    }
    .order-details {
        margin-top: 30px;
    }
    .product-details-image {
        height: 500px;
        margin-bottom: 20px;
    }
    .product-details-desc {
        h3 {
            font-size: 22px;
        }
    }
    .product-details-area {
        padding-bottom: 50px;
    }
    .products-details-tab {
        .tab_content {
            .tabs_item {
                .products-details-tab-content {
                    h3 {
                        font-size: 22px;
                    }
                    .product-review-form {
                        .review-title {
                            .default-btn {
                                display: none;
                            }
                        }
                        .review-comments {
                            .review-item {
                                padding-right: 0;

                                .review-report-link {
                                    position: relative;
                                    right: 0;
                                    top: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-navbar {
        .navbar {
            .navbar-nav {
                margin-top: 8px;
                max-height: 70vh;
                overflow-y: scroll;
                padding: 0;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 8px;
                }
                    
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                }
                    
                &::-webkit-scrollbar-thumb {
                    background: #888; 
                    border-radius: 30px;
                }
                    
                &::-webkit-scrollbar-thumb:hover {
                    background: #555; 
                }

                .nav-item {
                    margin-left: 10px !important;
                    margin-right: 15px !important;
                    a {
                        font-size: 15px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        i {
                            display: none;
                        }
                    }

                    .dropdown-menu {
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                        top: 0;
                        width: 100%;
                        margin: 0 0 10px;
                        li {
                            margin: 0 !important;
                            a {
                                font-size: 14px;
                                padding: 7px 15px;
                            }

                            .dropdown-menu {
                                position: relative;
                                left: 15px;
                                opacity: 1;
                                visibility: visible;
                                margin: 0 0 10px;
                                top: 0;
                                width: 90%;
                            }
                        }
                    }
                }
            }

            .others-options {
                position: absolute;
                top: 7px;
                right: 40px;

                .default-btn {
                    display: none;
                }

                .option-item {
                    .search-btn {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .search-overlay {
        .search-overlay-form {
            width: 100%;
            padding: 0 20px;
        }
    }

    .testimonial-area {
        position: relative;
        &::before {
            background-color: #000;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            opacity: .80;
            position: absolute;
        }

        .testimonial-content {
            position: relative;
            padding: 0;
        }
    }
    .contact-form {
        padding: 20px;
    }
    .comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
        height: 55px;
    }
    .faq-accordion {
        .accordion {
            .accordion__button {
                padding: 15px 40px 15px 15px;
                font-size: 16px;
            }
        }
    }

    .main-banner {
        .main-banner-item {
            &::before {
                content: "";
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .8;
            }

            .main-banner-content {
                position: relative;
                z-index: 5;
            }
        }
    }
    .single-features {
        h3 {
            font-size: 19px;
        }
    }
    .testimonial-inner-content {
        .info-text {
            h4 {
                font-size: 22px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .single-services-box {
        h3 {
            font-size: 20px;
        }
    }
    .about-content {
        padding-left: 0;
        &.warp {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    .testimonial-area.testimonial-two {
        .testimonial-image {
            &::before {
                border-left: 10px solid #fd9b5f;
                border-bottom: 10px solid #fd9b5f;
            }
        }
    }
    .pl-15 {
        padding-left: 0;
    } 
    .services-details-information {
        .services-list {
            li {
                a {
                    padding: 17px 20px;
                }
            }
        }
        .download-file {
            padding: 20px;
        }
        .services-contact-info {
            padding: 20px;
        }
    }
    .pr-15 {
        padding-right: 0;
    }
    .pl-30 {
        padding-left: 0;
    }
    .client-area {
        &::before {
            opacity: .90;
        }
    }
    .widget-area {
        .widget_spix_posts_thumb {
            .item {
                .info {
                    margin-top: 0;
                    span {
                        font-size: 12px;
                    }
                } 
                .title {
                    font-size: 14px;
                }
            }
        }
    }
    .scroll-to-top {
        i {
            bottom: 50px;
            right: 15px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 420px) { 
    .features-inner-content {
        .features-list {
            li {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-features-box {
        padding: 25px;
        h3 {
            font-size: 17px;
        }
    }
    .single-pricing-box {
        padding: 25px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pl-10 {
        padding-left: 0;
    }
    .ml-10 {
        margin-left: 0;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 4px 0 0 0;
                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 45px;
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 255px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
            }  
        }   
    } 
    .search-overlay {
        &.search-popup {
            right: -10px;
        }
    }
    .main-banner-item {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .main-banner-image {
        top: 0;
        text-align: center;
        margin-top: 30px;
    }
    .main-banner-content {
        margin-right: auto;
        max-width: 685px;
        text-align: center;
        h1 {
            font-size: 50px;
            margin-bottom: 16px;
            position: relative;
            z-index: 1;
        }
    }
    .about-image {
        text-align: center;
    }
    .about-content {
        margin-top: 30px;
        &.warp {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    .single-services {
        padding: 30px 20px;

        &::before {
            bottom: -94%;
            transform: rotate(-8deg);
        }
        h3 {
            font-size: 20px;
        }
    }
    .digital-experience-tab {
        .react-tabs__tab-list {
            margin-bottom: 30px;
            li {
                margin-right: 0;
                flex: 33.33333333333333%;
                max-width: 100%;
            }
        }
        .react-tabs__tab-panel {
            .digital-experience-image {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .single-fun-fact {
        padding: 30px;
        text-align: center;
        .icon {
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 20px;

            i {
                height: 70px;
                width: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
    }
    .testimonial-image {
        height: 500px;
    }
    .testimonial-inner-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 30px;
        padding-left: 0;
        .icon {
            margin-bottom: 20px;
            i {
                height: 80px;
                width: 80px;
                line-height: 80px;
                font-size: 35px;
            }
        }
    }
    .testimonial-slider {
        margin-top: 0;

        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*=owl-] {
                        left: 0;
        
                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .pl-5, .px-5 {
        padding-left: 0 !important;
    }
    .single-footer-widget {
        h3 {
            font-size: 22px;
        }
    }
    .copyright-area-content {
        text-align: left;
    }
    .copyright-area {
        .copyright-area-content {
            ul {
                text-align: right;
            }
        }
    }

    .main-banner-item {
        &.item-two {
            height: 100%;

            .main-banner-image {
                img {
                    animation: unset;
                    animation: moveBounce 5s linear infinite;
                    border-radius: 0%;
                }
            }
        }
        &.item-three {
            height: 100%;

            .main-banner-image {
                img {
                    animation: unset;
                    animation: moveBounce 5s linear infinite;
                }
            }
        }
        &.item-four {
            height: 100%;
        }
    }
    .about-area {
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .about-image-warp {
        height: 500px;
        text-align: center;
    }
    .features-image {
        text-align: center;
    }
    .single-pricing-box {
        &.top-1 {
            margin-top: 0;
        }
        &.top-2 {
            margin-top: 0;
        }
    }
    .main-slider-item {
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .main-slider-content {
        padding-top: 70px;
        padding-bottom: 70px;
        margin-right: auto;
        max-width: 690px;
    }    
    .main-slider-image {
        height: 500px;
    }
    .main-slider-shape {
        .shape-1 {
            display: none;
        }
        .shape-2 {
            display: none;
        }
    }
    .single-services-box {
        padding: 25px 20px;

        h3 {
            font-size: 22px;
        }
        .icon {
            i {
                height: 100px;
                width: 100px;
                line-height: 100px;
                font-size: 30px;
            }
        }
        &::before {
            bottom: -95%;
        }
    }
    .single-fun-fact-box {
        .icon {
            margin-bottom: 20px;

            i {
                height: 60px;
                width: 60px;
                line-height: 60px;
                font-size: 25px;
            }
        }
        h3 {
            font-size: 35px;
        }
        p {
            font-size: 15px;
        }
    }
    .client-slider {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: 0;
                    top: 70%;
                    transform: translateY(-70%);
                    &.owl-next {
                        right: 0;
                    }
                }
            }
            &:hover {
                .owl-nav {
                    [class*=owl-] {
                        left: 0;

                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .partner-item {
        img {
            max-width: 100px;
        }
    }
    .main-banner-shape {
        .shape-14 {
            display: none;
        }
        .shape-10 {
            display: none;
        }
        .shape-9 {
            display: none;
        }
        .shape-12 {
            display: none;
        }
    }
    .quote-form {
        padding: 30px 20px;
        .content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .quote-image {
        text-align: center;
        margin-top: 30px;
    }
    .single-features-box {
        &.top-1 {
            margin-top: 0;
        }
        &.top-4 {
            margin-top: 0;
        }
    }
    .features-image-warp {
        margin-bottom: 30px;
        text-align: center;
    }
    .overview-image {
        text-align: center;
        margin-top: 30px;
    }
    .services-details-desc {
        .services-details-features {
            .features-image {
                margin-top: 0;
                text-align: center;
            }
        }
    }
    .services-details-information {
        margin-top: 30px;
    }
    .portfolio-details-information {
        margin-top: 30px;
    }
    .widget-area {
        margin-top: 40px;
    }
    .contact-image {
        margin-bottom: 30px;
        text-align: center;
    }
    .general-contact-info {
        margin-top: 50px;
    }
    .login-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .register-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .order-details {
        margin-top: 30px;
    }
    .product-details-image {
        height: 500px;
        margin-bottom: 20px;
    }
    .product-details-area {
        padding-bottom: 50px;
    }

    .main-navbar {
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin-left: 8px;
                    margin-right: 8px;

                    a {
                        font-size: 15px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }

                    .dropdown-menu {
                        top: 68px;
                        width: 230px;
                        li {
                            a {
                                font-size: 14px;
                            }
                        }
                    }

                    &:nth-last-child(1), &:nth-last-child(2) {
                        .dropdown-menu {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
            .others-options {
                .option-item {
                    .search-btn {
                        font-size: 20px;
                    }
                    .default-btn {
                        display: none;
                    }
                }
            }
        }
    }
    .single-services-item {
        .content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .single-portfolio-item {
        .portfolio-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .single-team {
        .image {
            .content {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
    .main-slider-content {
        h1 {
            font-size: 50px;
        }
    }
    .contact-form {
        padding: 30px;
    }
    .single-blog {
        .content {
            span {
                font-size: 14px;
            }
            h3 {
                font-size: 20px;
            }
            .blog-btn {
                font-size: 14px;
            }
        }
    }
    .testimonial-area {
        .testimonial-content {
            padding-left: 0;
        }
    }
    .about-content {
        padding-left: 0;
    }
    .testimonial-area.testimonial-two {
        .testimonial-image {
            &::before {
                border-left: 10px solid #fd9b5f;
                border-bottom: 10px solid #fd9b5f;
            }
        }
    }
    .about-area {
        .container-fluid {
            max-width: 720px;
        }
    }
    .pl-15 {
        padding-left: 0;
    }
    .pr-15 {
        padding-right: 0;
    }
    .pl-30 {
        padding-left: 0;
    }
    .single-pricing-box {
        padding: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pl-10 {
        padding-left: 0;
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 4px 0 0 0;
                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
            padding-top: 0;
        }
        .mean-nav {
            margin-top: 45px;
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -32px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 255px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
            }  
        }   
    } 
    .search-overlay {
        &.search-popup {
            right: -10px;
        }
    }
    .main-banner-item {
        .container-fluid {
            max-width: 965px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 45px;
        }
    }
    .single-services {
        padding: 30px 20px;

        h3 {
            font-size: 19px;
        }
    }
    .digital-experience-tab {
        .react-tabs__tab-list {
            margin-bottom: 30px;
            li {
                margin-right: 0;
                flex: 33.33333333333333%;
                max-width: 100%;
            }
        }
        .react-tabs__tab-panel {
            .digital-experience-image {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .testimonial-content {
        h2 {
            font-size: 45px;
        }
    }
    .single-fun-fact {
        padding: 30px;
        text-align: center;
        .icon {
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 20px;

            i {
                height: 70px;
                width: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
    }
    .single-services-item {
        .content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .single-portfolio-item {
        .portfolio-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .single-footer-widget {
        h3 {
            font-size: 24px;
        }
    }
    .pl-5, .px-5 {
        padding-left: 0 !important;
    }
    .main-slider-shape {
        .shape-1 {
            max-width: 250px;
        }
    }
    .main-slider-content {
        h1 {
            font-size: 50px;
        }
    }
    .single-services-box {
        padding: 25px 20px 30px 20px;

        h3 {
            font-size: 22px;
        }
        .icon {
            i {
                height: 100px;
                width: 100px;
                line-height: 100px;
                font-size: 30px;
            }
        }
        &::before {
            bottom: -95%;
        }
    }
    .single-industries-box {
        h3 {
            font-size: 20px;
        }
    }
    .partner-item {
        img {
            max-width: 110px;
        }
    }
    .single-team {
        .image {
            .content {
                padding: 20px 15px;
            }
        }
    }
    .single-features {
        padding: 30px 10px;
        .icon {
            i {
                font-size: 35px;
            }
        }
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }

    .main-navbar {
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin-left: 10px;
                    margin-right: 10px;
                    a {
                        font-size: 16px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
            }
            .others-options {
                .option-item {
                    .default-btn {
                        background-color: #f64c67;
                    }
                }
            }
        }
    }
    .single-portfolio {
        .portfolio-content {
            h3 {
                font-size: 20px;
            }
        }
    }
    .single-blog {
        .content {
            span {
                font-size: 14px;
            }
            h3 {
                font-size: 20px;
            }
            .blog-btn {
                font-size: 14px;
            }
        }
    }
    .widget-area {
        .widget_spix_posts_thumb {
            .item {
                .info {
                    span {
                        font-size: 13px;
                    } 
                    .title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pl-30 {
        padding-left: 0;
    }
    .single-features-box {
        padding: 25px 15px;
        h3 {
            font-size: 16px;
        }
    }
    .about-content {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .container-fluid {
        max-width: 1140px;
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) { 
    .main-slider-content {
        max-width: 645px;
    }
    .main-banner-content {
        max-width: 645px;
    }
}

@media only screen and (min-width: 1550px) {
    .main-banner-item {
        height: 850px;

        &.item-two {
            height: 950px;
        }
        &.item-four {
            height: 800px;
        }
    }
    .main-banner-image {
        top: 80px;
    }
    .single-team {
        .image {
            .social {
                top: 50px;
            }
        }
    }
    .main-slider-content {
        padding-top: 250px;
        padding-bottom: 250px;
    }
}
